* {
    margin: 0;
    padding: 0;
    font: normal 12px '돋움';
}

ul, ol {list-style: none;}
a {text-decoration: none; color: #111;}
input, textarea {outline: none;}

#wrapper {
    width: 800px;
    height: auto;
    margin: 0 auto;
}

/*해더*/
header {
    width: 100%;
    height: 35px;
    background: #f7f7f7;
    border-bottom: 1px solid #ebebeb;
    box-sizing: border-box;
    overflow: hidden;
}

header > h3 {
    float: left;
    color: #777;
    font-weight: bold;
    margin-top: 10px;
    margin-left: 10px;
}
/*메인*/
main {
    width: 100%;
    height: auto;
}
/*푸터*/
footer {
    width: 100%;
    height: 35px;
    background: #f7f7f7;
    border-top: 1px solid #ebebeb;
    box-sizing: border-box;
}

footer > p {
    float: right;
    color: #777;
    margin-top: 10px;
    margin-right: 10px;
}

/*로그인*/
#user.login {
    width: 360px;
    height: auto;
    border: 1px solid #cfded8;
    margin: 100px auto;
}
#user.login >form{
    width: 100%;
    height: auto;
    position: relative;
}
#user.login >form > table{
    margin-left: 50px;
    margin-top: 26px;
}
#user.login >form > table tr{}
#user.login >form > table tr > td{}
#user.login >form > table tr > td > img {
    width: 20px;
}
#user.login >form > table tr > td > input {
    width: 164px;
    height: 24px;
    border: 1px solid #e4eaec;
    background: #f7f7f7;
    margin-left: 6px;
    margin-top: 4px;
}
#user.login > form > .btnLogin {
    position: absolute;
    right: 46px;
    top: 6px;
    width: 64px;
    height: 59px;
    border: 1px solid #ebebeb;
    background: #fdfdfd;
}
#user.login > .info {
    width: 100%;
    height: 104px;
    background: #f5f6fa;
    border-top: 1px solid #cfded8;
    margin-top: 32px;
    padding: 16px;
    box-sizing: border-box;
}        
#user.login > .info > h3 {}        
#user.login > .info > p {
    margin: 10px 0;
}        
#user.login > .info > a {
    float: right;
}        

/*약관*/
        #user.terms {
            width: 600px;
            height: auto;            
            margin: 60px auto;
            overflow: hidden;
        }
        #user.terms > table {
            width: 100%;
            height: auto;
            border-spacing: 0;
            border-top: 2px solid #111;
        }
        #user.terms > table caption {
            text-align: left;
            font-weight: bold;
            padding: 10px 0;
        }
        #user.terms > table tr {}
        #user.terms > table tr > td {
            border: 1px solid #e9e9e9;
            border-top: none;
            padding: 6px;
            box-sizing: border-box;
        }
        #user.terms > table textarea {
            width: 100%;
            height: 200px;
            resize: none;
            border: 1px solid #e4eaec;
            background-color: #f7f7f7;
            padding: 6px;
            box-sizing: border-box;
        }
        #user.terms > table label {
            float: right;
            margin: 6px 0;
        }
        #user.terms > table input[type=checkbox] {}

        #user.terms > p {
            float: right;
            margin-top: 10px;
        }
        #user.terms > p > a {
            display: inline-block;
            width: 42px;
            height: 30px;
            border: 1px solid #bebebe;
            text-align: center;
            line-height: 30px;
        }
        #user.terms > p > a.next {
            background: #e9e9e9;
        }
/*회원가입*/
        #user.register {
            width: 600px;
            height: auto;
            margin: 60px auto;
        }
        #user.register > form > table {
            width: 100%;
            border: 1px solid #e9e9e9;
            border-top: 2px solid #111;
            border-collapse: collapse;
            border-spacing: 0;
            margin-bottom: 10px;
        }

        #user.register table caption {
            padding: 10px 0;
            font-weight: bold;
            text-align: left;
        }

        #user.register table td {
            padding: 6px 12px;
            border: 1px solid #e9e9e9;
            padding: 6px;
            box-sizing: border-box;
        }

        #user.register table td:nth-child(1) {
            width: 106px;
            height: 38px;
            background: #f5f8f9;
        }

        #user.register table input {
            width: 160px;
            height: 22px;
            border: 1px solid #e4eaec;
            background: #f7f7f7;
            text-indent: 6px;
        }

        #user.register table input[name="addr1"] {
            display: block;
            margin: 5px 0;
            width: 360px;
        }

        #user.register table input[name="addr2"] {
            display: block;
            margin: 5px 0;
            width: 360px;
        }

        #user.register table button {
            border: none;
            background: none;
            vertical-align: middle;
        }

        #user.register > form > div {
            text-align: right;
        }

        #user.register > form > div > .btnCancel {
            padding: 8px;
            border: 1px solid #bebebe;
            background: #fdfdfd;
            color: #111;
        }

        #user.register > form > div > .btnJoin {
            padding: 8px;
            border: 1px solid #bebebe;
            background: #e9e9e9;
            color: #111;
        }
/*글목록*/
header > p {
    float: right;
    margin-top: 10px;
    margin-right: 10px;
}

header > p > .logout {

}

#board {
    position: relative;
    width: 720px;
    margin: 60px auto;
}

#board table {
    width: 100%;
    border-top: 2px solid #111;
    border-collapse: collapse;
    border-spacing: 0;
    margin-top: 6px;
}

#board.list table th {
    padding: 12px;
    border-top: 1px solid #d1dee2;
    border-bottom: 1px solid #d1dee2;
    background: #e5ecef;
    color: #383838;
}

#board.list table tr > td {
    padding: 12px 6px;
    border-top: 1px solid #e9e9e9;
    border-bottom: 1px solid #e9e9e9;
}
#board.list table tr > td:nth-child(1) {
    width: 50px;
    text-align: center;
    background: #fff;
}
#board.list table tr > td:nth-child(2) {
    width: auto;
    text-align: left;
}
#board.list table tr > td:nth-child(3) {
    width: 100px;
    text-align: center;
}
#board.list table tr > td:nth-child(4) {
    width: 100px;
    text-align: center;
}
#board.list table tr > td:nth-child(5) {
    width: 50px;
    text-align: center;
}

#board.list > .page {
    padding: 20px;
    text-align: center;
}
#board.list > .page > a {
    padding: 8px;
    background: #f2f2f2;
    border: 1px solid #d7d7d7;
}
#board.list > .page > .prev {}
#board.list > .page > .next {}
#board.list > .page > .num {}
#board.list > .page > .current {
    border: 1px solid #6d6d6d;
    background: #888;
    color: #fff;
}

#board.list > .btnwrite {
    position: absolute;
    bottom: 14px;
    right: 0;
    padding: 7px;
    border: 1px solid #3b3c3f;
    background: #4b545e;
    color: #fff;
}
/*글쓰기*/
#board.write table tr > th {
    width: 100px;
    background: #e4eaec;
    text-align: center;
}
#board.write table tr > td {
    padding: 12px 6px;
    border-top: 1px solid #e9e9e9;
    border-bottom: 1px solid #e9e9e9;
    box-sizing: border-box;
}
#board.write table tr > td > input {
    width: 100%;
    height: 24px;
    border: none;
}

#board.write table tr > td > textarea {
    width: 100%;
    height: 280px;
    resize: none;
    border: none;
}

#board.write form > div {
    margin-top: 10px;
    text-align: right;
}

#board .btnCancel {
    padding: 8px;
    border: 1px solid #bebebe;
    background: #fdfdfd;
    color: #111;
}

#board.write form > div > .btnComplete {
    padding: 7px;
    border: 1px solid #3b3c3f;
    background: #4b545e;
    color: #fff;
}
/*글보기*/
#board.view table tr > th {
    width: 100px;
    background: #e4eaec;
    text-align: center;
}
#board.view table tr > td {
    padding: 12px 6px;
    border-top: 1px solid #e9e9e9;
    border-bottom: 1px solid #e9e9e9;
}
#board.view table tr > td > input {
    width: 100%;
    height: 24px;
    border: 0;
}
#board.view table tr > td > textarea {
    width: 100%;
    height: 280px;
    resize: none;
    border: 0;
}

#board.view section:nth-of-type(1) div {
    padding: 16px 0;
    text-align: right;
}

#board.view > section > form > div > a {
    padding: 8px;
    border: 1px solid #bebebe;
    background: #fdfdfd;
    color: #111;
}

#board .btnDelete {

    }
#board .btnModify {
    
}
#board .btnList {
    
}

#board.view section h3 {font-weight: bold; font-size: 13px;}

#board.view > .commentList,.commentForm {
    width: 100%;
    height: auto;
    padding: 20px;
    border: 1px solid #e3e3e3;
    background: #e4eaec;
    margin-top: 10px;
    margin-bottom: 16px;
    box-sizing: border-box;
}

#board.view > .commentList > article {
    border-top: 1px dotted #999;
    margin-top: 10px;
    padding-top: 10px;
    box-sizing: border-box;
}

#board.view > .commentList > article > textarea {
    width: 100%;
    height: 60px;
    padding: 6px;
    box-sizing: border-box;
    resize: none;
    border: 0;
    background: transparent;
}

#board.view .comment > div {
    text-align: right;
}

#board.view > .commentList > p {
    padding: 20px;
    text-align: center;
    box-sizing: border-box;
}

#board.view > .commentForm > form {
    border-top: 1px dotted #999;
    margin-top: 10px;
    padding-top: 10px;
    box-sizing: border-box;
}

#board.view > .commentForm > form > textarea {
    width: 100%;
    height: 60px;
    border: 1px solid #e4eaec;
    margin: 10px 0;
    resize: none;
} 

#board.view > .commentForm > form > div {
    text-align: right;
}

#board .btnComplete {
    padding: 7px;
    border: 1px solid #3b3c3f;
    background: #4b545e;
    color: #fff;
}
/*글수정*/